[submodule "tools/lavender"]
	path = tools/lavender
	url = https://github.com/xforce/lavender.git
[submodule "third_party/zydis"]
	path = third_party/zydis
	url = https://github.com/zyantific/zydis.git
[submodule "third_party/asmjit"]
	path = third_party/asmjit
	url = https://github.com/asmjit/asmjit.git
